# Environment variables
STATUS = development

# Development port
HOST = http://localhost
PORT = 4003

# Logger settings
LOGGER_LEVEL = "error"
LOGGER_LEVEL_ERROR = "error"
LOGGER_LEVEL_WARNING = "warn"
LOGGER_LEVEL_INFO = "info"

LOGGER_FILE = "logs/error.log"
LOGGER_FILE_ERROR = "logs/error.log"
LOGGER_FILE_WARNING = "logs/warnings.log"
LOGGER_FILE_INFO = "info/info.log"

TASKS_DATABASE_URL = TASKS_DATABASE_URL
USERS_DATABASE_URL = USERS_DATABASE_URL

#JWT Secret Key
JWT_SECRET_KEY = YOUR_JWT_ACCESS_TOKEN